.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.Background-Color{
  background-color:rgb(245 245 245);
}

.App-header {
  overflow: hidden;
  height: 200px;
  margin-top:-40px;
}

.App-link {
  color: #61dafb;
}

